<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("puroera_header.png", class:"puroera-icon"), "#" %>
    <form class="search-form" action="#">
        <input class='input-box' placeholder='キーワードから探す'>
        <button class="search-button">
            <%= image_tag "search.png", class:"search-icon" %>
        </button>
    </form>
    <ul class='header-right'>
      <% if user_signed_in? %>
        <li><%= link_to '共有する', new_share_path, class: "share_post" %></li>
        <li><%= link_to '質問する', new_question_path, class: "question_post" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <%# <><%= link_to image_tag(current_user.image, class:"user-nickname") ,user_path(current_user.id) %>
      <% else %>
        <li><%= link_to '共有する', new_share_path, class: "share_post" %></li>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to '共有掲示板', root_path, class: "other_view" %></li>
      <li><%= link_to '質問掲示板', questions_path, class: "current_view" %></li>
      <li><%= link_to 'ユーザーリスト', users_path, class: "other_view" %></li>
      <li><%= link_to 'マイチャット', rooms_path, class: "other_view" %></li>
      <li><%= link_to 'マイページ', user_path(current_user.id), class: "other_view" %></li>
    </ul>
  </div>
</header>
<div class="main">
  <div class='title-contents'>
    <div class='service-contents'>
      <h2 class='service-title'>
        プログラミングのエラー体験を共有し合う
      </h2>
    </div>
    <p class='service-explain'>
        あなたのエラーは誰かが解決してる
      </p>
    <div class='post-btn'>
      <%= link_to '今すぐ共有する', new_share_path, class:"btn btn-border" %>
    </div>
  </div>
  <%# 強みの部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      PUROERAの強み
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "share_error.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          Solution!
        </h3>
        <p class='reason-list-description'>
          エラーを共有することで、誰かのエラーを解決できる。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "send_question.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          Question!
        </h3>
        <p class='reason-list-description'>
          共有されていないエラーを質問することができる。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "receive_money.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          Money!
        </h3>
        <p class='reason-list-description'>
          回答しエラーを解決できるとお金を受け取れる。
        </p>
      </li>
    </ul>
  </div>

 <div class='share-board-main'>
    <h2 class='title'>共有掲示板</h2>
    <div class='share-board-body'>
      <div class='share-board-left'>
      <% @questions.each do |question| %>
        <%= link_to question_path(question.id) do %>
          <div class='share-board-article'>
            <div class='share-board-title'>
              <%= question.title %>
            </div>
            <div class='share-board-other'>
              <div class='share-board-category'>
                <%= question.category.name %>
              </div>
              <div class='share-board-author'>
                <%= question.user.nickname %>
              </div>
            </div>
          </div>
        <% end %>
       <% end %>
      </div>
      <div class='share-board-right'>
      <%# 後でやる %>
        <div class='board-category'>カテゴリー</div>
        <div class='board-user'>ユーザー</div>
      </div>
    </div>
  </div>
</div>


<%# 上部の実装後に入れる %>
<%= render "shared/footer" %>