<%= render "shared/header" %>
<div class="main">
  <div class='title-contents'>
    <div class='service-contents'>
      <h2 class='service-title'>
        プログラミングのエラー体験を共有し合う
      </h2>
    </div>
    <p class='service-explain'>
        あなたのエラーは誰かが解決してる
      </p>
    <div class='post-btn'>
      <%= link_to '今すぐ共有する', new_share_path, class:"btn btn-border" %>
    </div>
  </div>
  <%# 強みの部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      PUROERAの強み
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "share_error.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          Solution!
        </h3>
        <p class='reason-list-description'>
          エラーを共有することで、誰かのエラーを解決できる。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "send_question.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          Question!
        </h3>
        <p class='reason-list-description'>
          共有されていないエラーを質問することができる。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "receive_money.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          Money!
        </h3>
        <p class='reason-list-description'>
          回答しエラーを解決できるとお金を受け取れる。
        </p>
      </li>
    </ul>
  </div>

  <%# 共有掲示板一覧表示をさせる部分 %>
  <div class='share-board-main'>
    <h2 class='title'>共有掲示板</h2>
    <div class='share-board-body'>
      <div class='share-board-left'>
      
      </div>
      <div class='share-board-right'>
      <%# 後でやる %>
        <div class='board-category'>カテゴリー</div>
        <div class='board-user'>ユーザー</div>
      </div>
    </div>
  </div>
</div>


<%# 上部の実装後に入れる %>
<%= render "shared/footer" %>