<%= @question.title %>
<%= @question.category.name %>
<%= @question.hypothesis %>
<%= @question.action %>
<%= @question.thought %>
<%= @question.user.nickname %>

 <% if user_signed_in? %>
    <% if current_user.id == @question.user_id %>
        <%= link_to "投稿内容の編集", edit_question_path(@question.id), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "投稿内容の削除", question_path(@question.id), method: :delete, class:"item-destroy" %>
    <% end %>
<% end %>

<div class="prototype__comments">
    <% if user_signed_in? %>
        <%= form_with model: [@question, @answer], local: true do |f|%>
        <div class="field">
            <%= f.label :answer, "回答" %> <br />
            <%= f.text_field :answer, id:"comment_comment" %>
        </div>
        <div class="actions">
            <%= f.submit "送信する", class: :form__btn  %>
        </div>
        <% end %>
    <% end %>
    <ul class="comments_lists">
        <%# 投稿に紐づくコメントを一覧する処理を記述する %>
        <li class="comments_list">
            <% @answers.each do |answer| %>
                <%= answer.answer %>
                <%= link_to answer.user.nickname, user_path(answer.user_id), class: :comment_user %><br />
            <% end %>
        </li>
        <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
    </ul>
</div>