<%= @question.title %>
<%= @question.category.name %>
<%= @question.hypothesis %>
<%= @question.action %>
<%= @question.thought %>
<%= @question.user.nickname %>

 <% if user_signed_in? %>
    <% if current_user.id == @question.user_id %>
        <%= link_to "投稿内容の編集", edit_question_path(@question.id), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "投稿内容の削除", question_path(@question.id), method: :delete, class:"item-destroy" %>
    <% end %>
<% end %>