<div class="chat-messages">
    <% if message.user.id == current_user.id %>
        <div class="current-chat-user-time">
            <div class="current-chat-message">
                <%= message.content %>
            </div>  
            <div class="current-chat-user">
                <%= link_to user_path(message.user.id)  do %>
                    <%= image_tag message.user.image, class:"current-chat-user-image" %>
                <% end %>
            </div>
        </div>
        <%= image_tag message.image.variant(resize: '250250'), class: 'message-image' if message.image.attached? %>
    <% else %>
        <div class="chat-user-time">
            <div class="chat-user">
                <%= link_to user_path(message.user.id)  do %>
                    <%= image_tag message.user.image, class:"chat-user-image" %>
                <% end %>
            </div>
            <div class="chat-message">
                <%= message.content %>
            </div>  
        </div>
        <%= image_tag message.image.variant(resize: '250x250'), class: 'message-image' if message.image.attached? %>
    <% end %>
</div>