<%= render "shared/header" %>

<%# <%= render 'shared/error_messages', model: f.object %>

<%= form_with(model: @share, local: true) do |f| %>
<div class="share-post-main">
  <div class="share-post-group">
    <div class="share-post-flex">
      <%= image_tag 'title.png', class:'share-post-image' %>
      <h2 class='title'>共有したいエラーのタイトル</h2>
    </div>
    <%= f.text_field :title, placeholder: "タイトル", class:"share-post-field" %>
  </div>
  <div class="share-post-group">
    <div class="share-post-flex">
      <%= image_tag 'options-lines.png', class:'share-post-image' %>
      <h2 class='title'>エラーのカテゴリー</h2>
    </div>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>
  <div class="share-post-group">
    <div class="share-post-flex">
      <%= image_tag 'hypothesis.png', class:'share-post-image' %>
      <h2 class='title'>エラーに対する考え方と仮説</h2>
    </div>
    <%= f.text_area :guess, placeholder: "例：エラーの原因は〜であると考える。", class:"share-post-area" %>
  </div>
  <div class="share-post-group">
    <div class="share-post-flex">
      <%= image_tag 'solution.png', class:'share-post-image' %>
      <h2 class='title'>エラーの解決方法</h2>
    </div>
    <%= f.text_area :solution, placeholder: "例：〜の記述を「 」と書き直すと解消できた", class:"share-post-area" %>
  </div>
  <div class="share-post-group">
    <div class="share-post-flex">
      <%= image_tag 'thought-bubble.png', class:'share-post-image' %>
      <h2 class='title'>感想</h2>
    </div>
    <%= f.text_area :thought, placeholder: "例：エラー本当しんどいよね…", class:"share-post-area" %>
  </div>
  <%= f.submit "投稿する",class:"share-submit-btn"  %>
</div>
<% end %>


