<%= render "shared/third_header" %>
<div class="chat-room-outside">
  <div class='chat-room-form'>
    <h1 class="title">新規チャットルーム作成</h1>
    <%=form_with model: @room, local: true do |f|%>
      <div class="room-form-group">
      <%= render 'shared/error_messages', model: f.object %>
        <div class='room-form-input-text'>
          <%= image_tag 'chat-box.png', class:"room-form-input-image" %>
          <%= f.text_field :name, class:"room-input-default", id:"nickname", placeholder:"チャット相手のユーザー名と自分のユーザー名（推奨）", maxlength:"40" %>
        </div>
      </div>
      <div class="room-form-group">
        <div class='room-form-input-text'>
          <%= image_tag 'internal.png', class:"room-form-input-image" %>
          <select name="room[user_ids][]">
            <option value="">チャットするユーザーを選択してください</option>
            <% User.where.not(id: current_user.id).each do |user| %>
              <option value=<%= user.id %>><%= user.nickname %></option>
            <% end %>
            <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
          </select>
        </div>
      </div>
      <div class='chat-room-form__field'>
          <%= f.submit "ルーム作成する", class: 'chat-room-form-btn'%>
      </div>
    <% end %>
  </div>
</div>